@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary-color: #313987;
  --dark-gray: #313131;
  --light-gray: #727273;
  --dark-blue: #20272e;
}

body {
  background: var(--dark-blue);
  margin: 0;
  font-family: "Poppins";
  font-size: 0.8em;
  word-spacing: 0.2em;
}

a {
  color: #444444;
}

h2 {
  font-size: 2em;
  color: var(--primary-color);
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

// Navigation Bar
.navbar {
  background: var(--light-gray);
  padding: 1em;

  nav {
    display: none;
  }

  .container {
    display: flex;
    place-content: space-between;
  }

  .mobile-menu {
    cursor: pointer;
  }
}

nav {
  position: fixed;
  z-index: 999;
  width: 55%;
  right: 0;
  top: 0;
  background: #20272e;
  height: 100vh;
  padding: 1em;

  ul.primary-nav {
    margin-top: 5em;
  }

  li {
    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 0.5em;
      font-size: 1.3em;
      text-align: right;

      &:hover {
        font-weight: bold;
      }
    }
  }
}
// Navigation Bar End

.result-header {
  position: relative;

  h3,
  p {
    color: white;
    text-align: center;
    position: relative;
    bottom: 100px;
  }
  h3 {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 768px) {
  // Navigation Bar
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;

    ul {
      display: flex;
      margin-top: 1em;
    }

    a {
      color: white;
      font-size: 1em;
      padding: 0.1em 1em;
    }

    ul.primary-nav {
      margin: 1em;
    }

    li.current a {
      font-weight: bold;
    }
    li.go-premium-cta a {
      color: var(--primary-color);
      border: 3px solid var(--primary-color);
      font-weight: bold;
      border-radius: 5em;
      margin-top: -0.2em;

      &:hover {
        background: var(--primary-color);
        color: white;
      }
    }
  }
}

// Screen View @1080px
@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }

  section {
    padding: 10em 4em;
  }
}
